.header {
    height: 40px;
    width: 100vw;
    background-color: var(--main-bg-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    &-left {
        display: flex;
        align-items: center;
        &-title {
            margin: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        &-logo {
            cursor: pointer;
            margin: 20px;
            width: 30px;
            border-radius: 100%;
        }
    }
    &-right {
        display: flex;
        align-items: center;
        &-toggle {
            margin: 20px;
        }
        &-logo {
            cursor: pointer;
            margin: 20px;
            width: 30px;
        }
    }

  }