<div class="header">
    <div class="header-left">
        <img src="./../../assets/img/toucan.svg" class="header-left-logo">
<!--         <div class="header-left-title">
            Expériences
        </div>
        <div class="header-left-title">
            Formations
        </div>
        <div class="header-left-title">
            Compétences
        </div> -->
    </div>
    <div class="header-right">
        <mat-slide-toggle class="header-right-toggle" (click)="changeTheme()"></mat-slide-toggle>
    </div>
</div>