<div class="main">
    <particles *ngIf="dark" [params]="myParamsDark" [style]="myStyle" [width]="width" [height]="height">

    </particles>
    <particles  *ngIf="!dark" [params]="myParams" [style]="myStyle" [width]="width" [height]="height">

    </particles>

    <div class="main-bio">
        <img class="main-bio-photo" src="./../../../assets/img/avatar.jpg">

        <div class="main-bio-description">


            <div class="main-bio-description-name">Pierre-Damien DENIS</div>
            <div class="main-bio-description-title">📡 Élève-ingénieur en Télécommunication & Réseaux</div>
            <div class="main-bio-description-title">🎓 École Supérieure des Ingénieurs de Rennes</div>
            <div class="main-bio-description-search">
                <div class="main-bio-description-search-title">Recherche stage 2021</div>
                <div class="main-bio-description-search-content">Antennes – Radars – Traitement du signal -
                    Télécommunications – Réseaux Mobiles - Propagation</div>
            </div>

            <div class="main-bio-description-contact"><a style="font-style: normal;">📧</a>
                denis.pierredamien@gmail.com</div>


            <div class="main-bio-description-network">
                <a href="https://github.com/pierredamiendenis" target="_blank"><img
                        class="main-bio-description-network-logo" src="./../../../assets/img/github.svg"></a>
                <a href="https://www.linkedin.com/in/pierre-damien-denis-109ab2121/" target="_blank"><img
                        class="main-bio-description-network-logo" src="./../../../assets/img/linkedin.svg">
                </a>
                <a href="mailto:denis.pierredamien@gmail.com"><img class="main-bio-description-network-logo"
                        src="./../../../assets/img/mail.svg">
                </a>
            </div>

        </div>
    </div>

    <div class="main-content">


        <div class="main-content-projects">


            <div class="main-content-projects-title">
                Mes projets
            </div>

            <div id="competences" class="main-content-competences">
                <div *ngFor="let skill of projectsTab" class="main-content-competences-skills" data-aos="fade-down"
                    data-aos-offset="100">
                    <div class="main-content-competences-skills-data">
                        <app-card-skill *ngFor="let sk of skill.data" [url]="sk.photo" [description]="sk.name"
                            [technos]="sk.technos" [link]="sk.link" [lien]="sk.lien">
                        </app-card-skill>
                    </div>
                </div>

            </div>


            <div class="main-content-projects-title" data-aos="fade-down" data-aos-offset="100">
                Mes formations
            </div>


            <!-- The Timeline -->

            <div class="main-content-projects">
                <ul class="timeline" data-aos="fade-down" data-aos-offset="100">

                    <!-- Item 1 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">ESIR</span>
                                <span class="time-wrapper"><span class="time">2017 - 2021</span></span>
                            </div>
                            <div class="desc">
                                Spécialité Télécommunications & Réseaux


                                <div class="main-content-experienceskills-experiences-experience">
                                    <div class="main-content-experienceskills-experiences-experience-skills">
                                        <div class="main-content-experienceskills-experiences-experience-skills-title">
                                            Compétences
                                        </div>
                                        <div class="main-content-experienceskills-experiences-experience-skills-skill">
                                            <img *ngFor="let skill of formations[1]?.skills" [matTooltip]="skill.name"
                                                class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                                [src]="skill?.photo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Item 2 -->
                    <li>
                        <div class="direction-l">
                            <div class="flag-wrapper">
                                <span class="flag">Cycle Prépatoire ESIR</span>
                                <span class="time-wrapper"><span class="time">2015 - 2017</span></span>
                            </div>
                            <div class="desc">Cycle Préparatoire intégré à l'ESIR</div>

                            <div class="main-content-experienceskills-experiences-experience">
                                <div class="main-content-experienceskills-experiences-experience-skills">
                                    <div class="main-content-experienceskills-experiences-experience-skills-title">
                                        Compétences
                                    </div>
                                    <div class="main-content-experienceskills-experiences-experience-skills-skill">
                                        <img *ngFor="let skill of formations[0]?.skills" [matTooltip]="skill.name"
                                            class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                            [src]="skill?.photo">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <!-- Item 3 -->
                    <li>
                        <div class="direction-r">
                            <div class="flag-wrapper">
                                <span class="flag">Lycée René Descartes</span>
                                <span class="time-wrapper"><span class="time">2012 - 2015</span></span>
                            </div>
                            <div class="desc">Baccalauréat S Mention Bien Européenne</div>
                        </div>
                    </li>

                </ul>

            </div>



            <div class="main-content-projects-title" data-aos="fade-down" data-aos-offset="100">
                Mes expériences
            </div>

            <ul class="timeline" data-aos="fade-down" data-aos-offset="100">

                <!-- Item 1 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag">Niji</span>
                            <span class="time-wrapper"><span class="time">Juin 2019 - Août 2019</span></span>
                        </div>
                        <div class="desc">
                            Développeur Full Stack Angular

                            <div class="main-content-experienceskills-experiences-experience">
                                <div class="main-content-experienceskills-experiences-experience-skills">
                                    <div class="main-content-experienceskills-experiences-experience-skills-title">
                                        Compétences
                                    </div>
                                    <div class="main-content-experienceskills-experiences-experience-skills-skill">
                                        <img *ngFor="let skill of experiences[2]?.skills" [matTooltip]="skill.name"
                                            class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                            [src]="skill?.photo">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

                <!-- Item 2 -->
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <span class="flag">SmartViser</span>
                            <span class="time-wrapper"><span class="time">Juin 2018 - Juillet 2018</span></span>
                        </div>
                        <div class="desc">Stagiaire en développement test
                            <div class="main-content-experienceskills-experiences-experience">
                                <div class="main-content-experienceskills-experiences-experience-skills">
                                    <div class="main-content-experienceskills-experiences-experience-skills-title">
                                        Compétences
                                    </div>
                                    <div class="main-content-experienceskills-experiences-experience-skills-skill">
                                        <img *ngFor="let skill of experiences[1]?.skills" [matTooltip]="skill.name"
                                            class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                            [src]="skill?.photo">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </li>

                <!-- Item 3 -->
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <span class="flag">Anritsu</span>
                            <span class="time-wrapper"><span class="time">Juin 2016</span></span>
                        </div>
                        <div class="desc">Stagiaire en Télécommunication

                            <div class="main-content-experienceskills-experiences-experience">
                                <div class="main-content-experienceskills-experiences-experience-skills">
                                    <div class="main-content-experienceskills-experiences-experience-skills-title">
                                        Compétences
                                    </div>
                                    <div class="main-content-experienceskills-experiences-experience-skills-skill">
                                        <img *ngFor="let skill of experiences[0]?.skills" [matTooltip]="skill.name"
                                            class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                            [src]="skill?.photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

            <!-- <p-steps [model]="experiencesData" [(activeIndex)]="activeIndexExperience" [readonly]="false"
                (activeIndexChange)="experience($event)"></p-steps>

            <div *ngIf="showExperience==true" class="main-content-experienceskills-experiences-experience">
                <img class="main-content-experienceskills-experiences-experience-logo" [src]="dataExperience.photo">
                <div class="main-content-experienceskills-experiences-experience-data">
                    <div class="main-content-experienceskills-experiences-experience-data-job">{{dataExperience.job}}
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-data-entreprise">
                        {{dataExperience.name}}</div>
                    <div class="main-content-experienceskills-experiences-experience-data-date">{{dataExperience.date}}
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-data-lieu">{{dataExperience.place}}
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-data-actions">
                        <div *ngFor="let work of dataExperience?.works">
                            {{work}}
                        </div>
                    </div>
                </div>
                <div class="main-content-experienceskills-experiences-experience-skills">
                    <div class="main-content-experienceskills-experiences-experience-skills-title">
                        Compétences
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-skills-skill">
                        <img *ngFor="let skill of dataExperience?.skills" [matTooltip]="skill.name"
                            class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                            [src]="skill?.photo">
                    </div>
                </div>
            </div> -->



        </div>




        <!-- <div class="main-content-experienceskills">


            <div class="main-content-experienceskills-experiences" id="experiences">
                <div class="main-content-experienceskills-experiences-title">Expériences</div>
                <div class="main-content-experienceskills-experiences-experience"
                    *ngFor="let experience of experiences">
                    <img class="main-content-experienceskills-experiences-experience-logo" [src]="experience.photo"
                        data-aos="fade-right" data-aos-offset="200">
                    <div class="main-content-experienceskills-experiences-experience-data" data-aos="fade-right"
                        data-aos-offset="200">
                        <div class="main-content-experienceskills-experiences-experience-data-job">{{experience.job}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-entreprise">
                            {{experience.name}}</div>
                        <div class="main-content-experienceskills-experiences-experience-data-date">{{experience.date}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-lieu">{{experience.place}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-actions">
                            <div *ngFor="let work of experience.works">
                                {{work}}
                            </div>
                        </div>
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-skills" data-aos="fade-left"
                        data-aos-offset="200">
                        <div class="main-content-experienceskills-experiences-experience-skills-title">
                            Compétences
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-skills-skill">
                            <img *ngFor="let skill of experience.skills" [matTooltip]="skill.name"
                                class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                [src]="skill.photo">
                        </div>
                    </div>
                </div>
            </div>

            <div id="formations" class="main-content-experienceskills-formations" data-aos="fade-right"
                data-aos-offset="200">
                <div class="main-content-experienceskills-experiences-title">Formations</div>
                <div class="main-content-experienceskills-experiences-experience" *ngFor="let formation of formations">
                    <img class="main-content-experienceskills-experiences-experience-logo" [src]="formation.photo"
                        data-aos="fade-right" data-aos-offset="200">
                    <div class="main-content-experienceskills-experiences-experience-data" data-aos="fade-right"
                        data-aos-offset="200">
                        <div class="main-content-experienceskills-experiences-experience-data-job">{{formation.job}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-entreprise">
                            {{formation.name}}</div>
                        <div class="main-content-experienceskills-experiences-experience-data-date">{{formation.date}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-lieu">{{formation.place}}
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-data-actions">
                            <div *ngFor="let work of formation.works">
                                {{work}}
                            </div>
                        </div>
                    </div>
                    <div class="main-content-experienceskills-experiences-experience-skills" data-aos="fade-left"
                        data-aos-offset="200">
                        <div class="main-content-experienceskills-experiences-experience-skills-title">
                            Compétences
                        </div>
                        <div class="main-content-experienceskills-experiences-experience-skills-skill">
                            <img *ngFor="let skill of formation.skills" [matTooltip]="skill.name"
                                class="main-content-experienceskills-experiences-experience-skills-skill-photo"
                                [src]="skill.photo">
                        </div>
                    </div>
                </div>

            </div>

        </div> -->




        <!-- <div id="competences" class="main-content-competences">
            <div class="main-content-competences-title" data-aos="fade-down" data-aos-offset="100">
                Compétences
            </div>
            <div *ngFor="let skill of skills" class="main-content-competences-skills" data-aos="fade-down"
                data-aos-offset="100">
                <div class="main-content-competences-skills-title">
                    {{skill.name}}
                </div>
                <div class="main-content-competences-skills-data">
                    <app-card-skill *ngFor="let sk of skill.data" [url]="sk.photo" [description]="sk.name">
                    </app-card-skill>
                </div>
            </div>

        </div> -->
    </div>
</div>
